@using System.Text.Json
@model ProductRequestModel;
@{
    Layout = "_Layout";
}

<form class="form-control" asp-action="Update" asp-controller="Product" method="post">
    @{
        TempData["Categories"] = JsonSerializer.Serialize(Model.Categories);
    }

    <input  type="hidden" asp-for="@Model.Id"/>
    <div class="mb-3">
        <label asp-for="@Model.Name" class="form-label">Name:</label>
        <input asp-for="@Model.Name" class="form-control" placeholder="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>
    <div class="mb-3">
        <label asp-for="@Model.Stock" class="form-label">Stock:</label>
        <input asp-for="@Model.Stock" class="form-control" placeholder="Stock" />
        <span asp-validation-for="Stock" class="text-danger"></span>
    </div>
    
    <div class="mb-3">
        <label asp-for="@Model.Price" class="form-label">Price:</label>
        <input asp-for="@Model.Price" class="form-control" placeholder="Price" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.CategoryId" class="form-label">CategoryId:</label>
        <select class="form-select" asp-items="@Model.Categories" asp-for="@Model.CategoryId">
        </select>
    </div>

    <button type="submit" class="btn btn-warning">Save</button>
</form>