@model List<CategoryResponseModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if(Model?.Count > 0){

        <a asp-controller="Category" asp-action="CreateCategory" class="btn btn-primary btn-sm">Create Category</a>
        <table class="table">
          
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Definition</th>
                    <th scope="col">Operation</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td></td>
                        <td>@category.Id</td>
                        <td>@category.Name</td>
                        <td>@category.Definition</td>
                        <td>
                           <a asp-controller="Category" asp-action="DeleteCategory" asp-route-Id="@category.Id"  class="btn btn-danger btn-sm">Sil</a>
                           <a asp-asp-controller="Category" asp-action="Update" asp-route-Id="@category.Id" class="btn btn-warning btn-sm">Update</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>


    }
    else{
        <div class="alert alert-danger">
            <h1>No Category Found</h1>
        </div>
    }

}
